body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(251, 244, 244, 0.958);
  font-family: 'Roboto Mono', monospace;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.week {
  height: 7px;
  width: 7px;
  background-color: grey;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(52, 9px);
  column-gap: 1px;
  row-gap: 1px;
}

.highlight {
  background-color: red;
}

input{
  margin-bottom: 20px;
}

.gridWrap::before {
  position: absolute;
  content: 'Weeks \2192';
  top:177px;
  margin-left: 20px;
}

p{
  margin:0;
}
.gridWrap p{
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -5px;
}

.gridWrap {
  display: flex;
}

.keepMeLeft {
  width: 100%;
}

footer {
  margin-top: 20px;
}

@media only screen and (max-width: 440px) {
  .week {
    height:4px;
    width: 4px;
  }
  
  .gridContainer {
    grid-template-columns: repeat(52, 7px);
    column-gap: 0px;
    row-gap: 1px;
  }
}