body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(251, 244, 244, 0.958);
  font-family: 'Roboto Mono', monospace;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.week {
  height: 7px;
  width: 7px;
  background-color: grey;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(52, 9px);
  column-gap: 1px;
  row-gap: 1px;
}

.highlight {
  background-color: red;
}

input{
  margin-bottom: 20px;
}

.gridContainer::before {
  position: absolute;
  content: 'Weeks \2192';
  top:-40px;

}

.gridWrap::before {
  position: absolute;
  content: 'Years\2193';
  writing-mode: vertical-lr;
  text-orientation: upright;
  left: -40px;
  letter-spacing: -5px;
}

.gridWrap {
  display: flex;
  position: relative;
}

.keepMeLeft {
  width: 100%;
}

footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 8px;
}

footer a:link {
  color: rgba(251, 244, 244, 0.958);
}

.week:last-child::after {
  content: "82";
  position: absolute;
  bottom:-20px;
  right: 0px;
}


@media only screen and (max-width: 440px) {
  .week {
    height:5px;
    width: 5px;
  }
  
  .gridContainer {
    grid-template-columns: repeat(52, 6px);
    column-gap: 0px;
    row-gap: 1px;
  }
}

@media only screen and (max-width: 391px) {
  .week {
    height:4px;
    width: 4px;
  }
  
  .gridContainer {
    grid-template-columns: repeat(52, 5px);
    column-gap: 0px;
    row-gap: 1px;
  }
}